<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.IStudentDao">
	<select id="select" parameterType="hashmap" resultType="hashmap">
		SELECT * FROM student WHERE 1=1
		<if test="id != null"> AND id = #{id}</if>
	</select>
	<select id="selectOne" parameterType="hashmap" resultType="hashmap">
		SELECT * FROM student WHERE id = #{id}
	</select>
	<insert id="insert" parameterType="hashmap">
		INSERT INTO student(id, name, grade)
		VALUES (#{id}, #{name}, #{grade})
	</insert>
	<update id="update" parameterType="hashmap">
		UPDATE student
		SET id = #{id},
			name = #{name},
			grade = #{grade}
		WHERE id = #{orgId}
	</update>
	<delete id="delete" parameterType="hashmap">
		DELETE FROM student WHERE id = #{id}
	</delete>
</mapper>