<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">
	<!-- 사용할 bean 등록 -->
	<bean id="playGame" class="SpringStudy005.PlayGame"></bean>
	
	<bean id="playGame1" class="SpringStudy005.PlayGame1"></bean>
	<bean id="gameLog1" class="SpringStudy005.GameLog1"></bean>
	
	<bean id="playGame2" class="SpringStudy005.PlayGame2">
		<property name="userId" value="용자님" />
	</bean>
	<bean id="gameLog2" class="SpringStudy005.GameLog2"></bean>

	<!-- AOP 설정 -->
	<aop:config>
		<aop:aspect ref="gameLog1">
			<aop:pointcut id="log1" expression="execution(public void *.PlayGame1.playing())" />
			<aop:before pointcut-ref="log1" method="startGame" />
			<aop:after-returning pointcut-ref="log1" method="clearGame" />
			<aop:after-throwing pointcut-ref="log1" method="serverCrash" />
			<aop:after pointcut-ref="log1" method="finishGame" />
		</aop:aspect>
		<aop:aspect ref="gameLog2">
			<aop:pointcut id="log2" expression="execution(public String *.PlayGame2.playing(..))" />
			<aop:before pointcut-ref="log2" method="startGame" />
			<aop:after-returning pointcut-ref="log2" method="clearGame" returning="msg" />
			<aop:after-throwing pointcut-ref="log2" method="serverCrash" throwing="th" />
			<aop:after pointcut-ref="log2" method="finishGame" />
			<!-- <aop:around pointcut-ref="log2" method="enjoyGame" /> -->
		</aop:aspect>
	</aop:config>
</beans>